<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 20px;
}
div {
  width: 600px;
  padding: 10px;
  border: 3px solid gray;
  margin: 5;
  font-size: 30px;
  text-align: center;
  border: 2px solid #ccc;
  background-color: #f3f3f3;
}
</style>
</head>
<body>

<center>
<div>
 Frontend For Api Service - Version [ 1 ]
</div>
<br/>
<br/>
</center>
<table style="width:100%">

  <tr>
    <td>Continent Name</td>
    <td>{{ continent_name }}</td>
  </tr>
  
  <tr>
    <td>Continent Code</td>
    <td>{{ continent_code }}</td>
  </tr>
  
  <tr>
    <td>Country Name</td>
    <td>{{ country_name }}</td>
  </tr>
  
  <tr>
    <td>Isp</td>
    <td>{{ isp }}</td>
  </tr>
  
  <tr>
    <td>Cached</td>
    <td>{{ cached }}</td>
  </tr>
  
</table>

</body>
</html>
